<!DOCTYPE html>
<html xmlns:th="http://www.thymeleft.org"
      xmlns:sec="https://www.thymeleft.org/thymeleft-extras-springsecurity5"
      lang="en">
<head th:replace="admin/fragment/fragments:: page_head"></head>
<body class="sb-nav-fixed">
<div th:replace="admin/fragment/navigation:: navbar"></div>
<div id="layoutSidenav" style="width: 99%">
    <div th:replace="admin/fragment/navigation:: menu"></div>

    <div id="layoutSidenav_content">
        <main>

        </main>
        <div th:replace="admin/fragment/fragments::footer"></div>
    </div>
</div>


</body>


</html>
