<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js}"></script>
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/datatables-simple-demo.js}"></script>
</head>
<body>
<div class="container-fluid text-center">

    <div>
        <img style="margin-top: 20px" th:src="@{/images/5SAdminBig.png}">
    </div>
    <form th:action="@{/post/login}" method="post" style="max-width: 350px; margin: 0 auto">
        <div th:if="${error}" class="text-danger">
            [[${error}]]
        </div>

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <div th:if="${param.logout}">
            <p class="text-warning">Bạn Đã Đăng Xuất</p>

        </div>
        <div class="border border-secondary rounded p-3">
            <p>Đăng Nhập với 5SWatch Admin</p>
            <p>
                <input type="email" name="email" placeholder="email" class="form-control" required/>
            </p>
            <p>
                <input type="password" name="password" placeholder="password" class="form-control" required/>
            </p>


            <p>
                <input type="submit" value="login" class="btn btn-primary" />
            </p>
        </div>

    </form>

    <div class="text-center">
        <p>5S Watch Control Pannel - copyright &copy; 5S</p>
    </div>

</div>


</body>
</html>