<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="admin/fragment/fragments:: page_head"></head>-->
<!--<body class="sb-nav-fixed">-->
<!--<div th:replace="admin/fragment/navigation:: navbar"></div>-->
<!--<div id="layoutSidenav">-->
<!--    <div th:replace="admin/fragment/navigation:: menu"></div>-->


<!--    <div id="layoutSidenav_content">-->
<!--        <main>-->
<!--            <div>-->
<!--                <h2>Quản lý Khách Hàng | [[${pageTitle}]]</h2>-->
<!--            </div>-->

<!--            <form th:action="@{/admin/customers/save}" method="post" style="max-width: 500px;margin: 0 auto"-->
<!--                  enctype="multipart/form-data"-->
<!--                  th:object="${KhachHang}" onsubmit="return checkCustomerNameUnique(this);">-->
<!--                <input type="hidden" th:field="*{idKhachHang}"/>-->
<!--                <div class="border border-secondary rounded p-3">-->
<!--                    <div class="form-group-row">-->
<!--                        <label class="col-sm-4 col-form-label">Tên Khách Hàng:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <input type="text" class="form-control" th:field="*{tenKhachHang}"  required minlength="3" maxlength="128"/>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group-row">-->
<!--                        <label class="col-sm-4 col-form-label">Số Điện Thoại:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <input type="text" class="form-control" th:field="*{soDienThoai}" id="soDienThoaiInput" required minlength="3" maxlength="128"/>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group-row">-->
<!--                        <label class="col-sm-4 col-form-label">Email:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <input type="email" class="form-control" th:field="*{email}" id="emailInput" required minlength="3" maxlength="128"/>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group row">-->
<!--                        <label class="col-sm-4 col-form-label">Ngày Sinh:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <input type="date" class="form-control" required th:field="*{ngaySinh}" />-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group-row">-->
<!--                        <label class="col-sm-4 col-form-label">Giới tính:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <select class="form-control" th:field="*{gioiTinh}" required>-->
<!--                                <option value="0" th:selected="${KhachHang.gioiTinh == 0}">Nam</option>-->
<!--                                <option value="1" th:selected="${KhachHang.gioiTinh == 1}">Nữ</option>-->
<!--                                <option value="2" th:selected="${KhachHang.gioiTinh == 2}">Không xác định</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group-row">-->
<!--                        <label class="col-sm-4 col-form-label">Password:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <input type="text" class="form-control" th:field="*{password}"  required minlength="5" maxlength="128"/>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group row">-->
<!--                        <label class="col-sm-4 col-form-label">Thời gian tạo tài khoản:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <input type="date" class="form-control" required th:field="*{thoiGianTaoTaiKhoan}" />-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group row">-->
<!--                        <label class="col-sm-4 col-form-label">Ngày Sửa:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <input type="date" class="form-control" required id="datePickerId" onchange="checkDate()" th:field="*{ngaySua}" />-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group-row">-->
<!--                        <label class="col-sm-4 col-form-label">Trạng Thái:</label>-->
<!--                        <div class="col-sm-12">-->
<!--                            <input type="checkbox" th:field="*{enabled}">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="text-center">-->
<!--                        <input type="submit" value="Save" class="btn btn-primary m-3" id="submitButton"/>-->
<!--                        <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->

<!--        </main>-->
<!--        <div th:replace="admin/fragment/fragments::footer"></div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal fade text-center" id="modalDialog">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h4 class="modal-title" id="modalTitle">Warning</h4>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <span id="modalBody"></span>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script type="text/javascript">-->
<!--    moduleURL= "[[@{/admin/customers}]]";-->

<!--    function checkDate(form) {-->
<!--        var datePickerId = document.getElementById('datePickerId');-->
<!--        datePickerId.max = new Date().toISOString().split("T")[0];-->
<!--        return true;-->
<!--    }-->
<!--    function checkCustomerNameUnique(form) {-->
<!--        var url = "[[@{/admin/customers/check_name}]]";-->
<!--        var soDienThoai = form.soDienThoai.value;-->
<!--        var email = form.email.value;-->
<!--        var KhachHangId = form.idKhachHang.value;-->
<!--        var csrfValue = $("input[name='_csrf']").val();-->
<!--        var params = {-->
<!--            id: KhachHangId,-->
<!--            soDT: soDienThoai,-->
<!--            email: email,-->
<!--            _csrf: csrfValue-->
<!--        };-->

<!--        $.post(url, params)-->
<!--            .done(function(response) {-->
<!--                if (response == "OK") {-->
<!--                    form.submit();-->
<!--                } else if (response == "Duplicated") {-->
<!--                    showWarningModal("Tên đã tồn tại hoặc là Tên này thuộc về id khác");-->
<!--                } else {-->
<!--                    showErrorModal("Lỗi phản hồi từ server");-->
<!--                }-->
<!--            })-->
<!--            .fail(function() {-->
<!--                showErrorModal("Không thể kết nối đến server");-->
<!--            });-->

<!--        return false;-->

<!--    }-->

<!--</script>-->
<!--<script th:src="@{/js/index_form.js}"></script>-->

<!--</body>-->
<!--</html>-->
