* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-item:hover .nav-link {
  font-weight: bold;
}

.navbar-white {
  background-color: #ffffff;
}
.navbar-boder {
  border-top: 1px solid #000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

