<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/fragment/fragments:: page_head"></head>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .thong-tin-hoa-don>div{
    padding-bottom: 5px;
  }

  .nav-item:hover .nav-link {
    font-weight: bold;
  }
  .tracking nav ul li a {
    color: #050505;
    display: block;
    font-size: 14px;
    line-height: 55px;
    transition: all 300ms ease 0s;
    text-align: center;
    text-decoration: none;
  }

  .tracking nav ul li {
    /*border-bottom: 2px solid orange;*/
    display: inline-block;
    width: 16%;

  }
  .tracking nav ul li a:hover {
    color: #FF4F4F;
  }
  .tracking nav ul li a:active {
    color: #FF4F4F;
    border-bottom: 2px solid #FF4F4F;
  }
  .tracking nav ul .active{
    border-bottom: 2px solid #FF4F4F;
  }
  .tracking nav ul .active a{
    color: #FF4F4F;
  }

  .breadcrumb {
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
  }

  .breadcrumb a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
</style>

<body class="sb-nav-fixed" id="content">
<div th:replace="admin/fragment/navigation:: navbar"></div>
<!-- Article NAV -->
<div id="layoutSidenav">
  <div th:replace="admin/fragment/navigation:: menu"></div>

  <!-- aside -->
  <div id="layoutSidenav_content">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
      <div class="row">
        <div class="breadcrumb">
          <a href="#">Bán hàng</a>
        </div>
<!--        <span th:if="${session.donHangHienTai != null}" th:text="${session.donHangHienTai}"></span>-->
<!--        <span th:if="${session.donHangHienTai == null}" th:text="'Giá trị không tồn tại'"></span>-->
      </div>
      <div style="max-width: 99%;margin: auto;">
        <div class="row">
          <div class="col-sm-8">
            <!--  Ban hang-->
            <h3 style="font-weight: bold">Chi tiết hoá đơn</h3>
            <div class="row gio-hang bg-body-tertiary p-3 rounded border border-light" style="height: 300px; overflow: scroll">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Mã sản phẩm</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Vật liệu</th>
                  <th scope="col">Màu sắc</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Khuyến mại</th>
                  <th scope="col">Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hdct : ${lstHDCT}">
                  <td th:text="${hdct.chiTietSanPham.maChiTietSanPham}"></td>
                  <td th:text="${hdct.chiTietSanPham.sanPham.tenSanPham}"></td>
                  <td th:text="${hdct.chiTietSanPham.vatLieu.tenVatLieu}"></td>
                  <td th:text="${hdct.chiTietSanPham.mauSac.tenMauSac}"></td>
                  <td th:text="${#numbers.formatDecimal(hdct.chiTietSanPham.giaSanPham, 0, 'COMMA', 0, 'POINT')} +
                  ' đ'"></td>
                  <td th:text="${hdct.soLuong}"></td>
                  <td th:text="${hdct.chiTietSanPham.khuyenMai == null || hdct.chiTietSanPham.khuyenMai.enabled == false ? '' : hdct.chiTietSanPham.khuyenMai.chietKhau }"></td>
                  <td>
                    <a class="btn btn-outline-dark hoa-don-chi-tiet-xoa"
                        data-bs-toggle="modal"
                        data-bs-target="#xoaSanPham"
                        th:data-id-hdct="${hdct.idHoaDonChiTiet}"
                    >Xóa</a>
                    <a class="btn btn-outline-dark hoa-don-chi-tiet-sua"
                       data-bs-toggle="modal"
                       data-bs-target="#suaSanPham"
                       th:data-id-hdct-sua="${hdct.idHoaDonChiTiet}"
                    >Sửa</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--  San pham-->
            <div class="row gio-hang bg-body-tertiary p-3 rounded border border-light">
              <h3 style="font-weight: bold">Sản phẩm</h3>

              <div class="row">
                <div class="col-md-12">
                  <form th:action="@{/admin/ban-hang/tim-kiem}" method="GET">
                    <div class="row">
                      <input class="col-sm-8" type="text" name="searchSP" placeholder="Mã , tên sản phẩm">
                      <div class="col-sm-4">
                        <button type="submit" class="btn btn-outline-dark">Tìm kiếm</button>
                        <button type="submit" class="btn btn-outline-secondary">Tất cả</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Mã sản phẩm</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Màu sắc</th>
                  <th scope="col">Vật liệu</th>
                  <th scope="col">Giảm giá</th>
                  <th scope="col">Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sp : ${listSanPham}">
                  <td th:text="${sp.maChiTietSanPham}"></td>
                  <td th:text="${sp.sanPham.tenSanPham}"></td>
                  <td th:text="${#numbers.formatDecimal(sp.giaSanPham, 0, 'COMMA', 0, 'POINT')} +
                  ' đ'"></td>
                  <td th:text="${sp.soLuong}"></td>
                  <td th:text="${sp.mauSac.tenMauSac}"></td>
                  <td th:text="${sp.vatLieu.tenVatLieu}"></td>
                  <td th:text="${sp.khuyenMai == null || sp.khuyenMai.enabled == false ? '' : sp.khuyenMai.chietKhau}"></td>
                  <td>
                    <button class="btn btn-outline-danger them-san-pham"
                       data-bs-toggle="modal"
                       data-bs-target="#soLuongSanPham"
                       th:data-ma-ctsp="${sp.maChiTietSanPham}"
                       th:data-so-luong-ton="${sp.soLuong}"
                    >Thêm</button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div th:if="${totalPages > 1}">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li th:class="${currentPage > 1 ?'page-item' : 'page-item disabled'}">
                      <a th:replace="admin/fragment/fragments::page_spct_link(1, 'Trang Đầu')" ></a>
                    </li>
                    <li th:class="${currentPage > 1 ?'page-item' : 'page-item disabled'}">
                      <a th:replace="admin/fragment/fragments::page_spct_link(${currentPage - 1}, Trước)"></a>
                    </li>

                    <li th:class="${currentPage != i ? 'page-item': 'page-item disabled' }"
                        th:each="i : ${#numbers.sequence(currentPage == 1 ? currentPage : (currentPage - 1), (currentPage + 1) < totalPages ? (currentPage + 1) : totalPages )}">
                      <a th:replace="admin/fragment/fragments::page_spct_link(${i}, ${i})"></a>
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                      <a th:replace="admin/fragment/fragments::page_spct_link(${currentPage + 1}, Sau)"></a>
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                      <a th:replace="admin/fragment/fragments::page_spct_link(${totalPages}, 'Trang Cuối')"></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!--  Thanh toan-->
          <div class="col-sm-4">
            <h3 style="font-weight: bold">Thông tin</h3>
            <form th:action="@{/admin/ban-hang/khach-hang/tim-kiem}" class="form-inline m-3" method="GET">
              <div class="d-flex align-items-center">
                <input style="width: 180px; margin-right: 10px" type="search" placeholder="Tìm kiếm số điện thoại" class="form-control" required name="phoneNumber" />
                <button style="margin-right: 10px" type="submit" id="timKiemSDT" class="btn btn-outline-info ml-2">Tìm kiếm</button>
              </div>
            </form>
            <form th:object="${hoaDonAdminRequest}" th:action="@{/admin/ban-hang/hoa-don/tao-moi}" method="post">
              <div class="row thong-tin-hoa-don bg-body-tertiary p-3 rounded border border-light">
                  <div class="col-md-12">
                    <label for="maHoaDon" class="form-label">Mã hóa đơn</label>
                    <input type="text" class="form-control" id="maHoaDon" name="maHoaDon" th:field="*{maHoaDon}" disabled style="background-color: white">
                  </div>
                  <div class="col-md-12">
                    <label for="sdt" class="form-label">SĐT</label>
                    <input type="text" class="form-control" id="sdt" name="sdt" th:field="*{sdt}" style="background-color: white">
                    <label id="errorMessageSDT" style="color: red; display: none;">Độ dài từ 10-11 ký tự số!</label>
                  </div>
                  <div class="col-md-12">
                    <label for="ten" class="form-label">Tên khách hàng</label>
                    <input type="text" class="form-control" id="ten" name="tenKhachHang" th:field="*{tenKhachHang}" style="background-color: white">
                    <label style="color: red" th:text="${messageTrungSDT}"></label>
                    <label id="errorMessageTen" style="color: red; display: none;">Độ dài ít nhất 5 ký tự chuỗi!</label>
                  </div>
                  <div class="col-md-12">
                    <label for="ngayTao" class="form-label">Ngày tạo</label>
                    <input type="date" class="form-control" id="ngayTao" name="ngayTao" disabled th:field="*{ngayTao}" style="background-color: white">
                  </div>
                  <div class="col-md-12">
                    <label for="thanhTien" class="form-label">Thành tiền</label>
                    <label class="form-control" id="thanhTien" th:text="${#numbers.formatDecimal(thanhTien, 0, 'COMMA', 0, 'POINT')} +' đ'" disabled style="color: red;"></label>
                  </div>
                  <div class="col-md-12">
                    <button class="btn btn-outline-primary"
                            type="submit"
                            id="tao-moi-don-hang"
                    >Tạo mới</button>

                    <button class="btn btn-outline-danger" id="thanhToan"
                       data-bs-toggle="modal"
                      type="button"
                       data-bs-target="#thanhToanHoaDon"
                    >Thanh toán</button>
                    <button class="btn btn-outline-dark"id="huyDon"
                            data-bs-toggle="modal"
                            type="button"
                            data-bs-target="#huyHoaDon"
                    >Hủy</button>
                  </div>
              </div>
            </form>
            <div class="row thong-tin-hoa-don" style="height: 200px; overflow: scroll">
              <table class="table table-fixed">
                <thead>
                <tr>
                  <th scope="col">Mã hóa đơn</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Ngày tạo</th>
                  <th scope="col">Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hd : ${listHoaDon}">
                  <td th:text="${hd.maDonHang}"></td>
                  <td th:text="${hd.trangThaiDonHang == 0 ? 'Chưa thanh toán' : ''}"></td>
                  <td th:text="${hd.ngayTao}"></td>
                  <td>
                    <form th:action="@{/admin/ban-hang/hoa-don/{maDonHang}(maDonHang=${hd.maDonHang})}" th:method="GET">
                      <button class="btn btn-outline-danger">Chọn</button>
                    </form>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- MAIN-CONTENT-SECTION END -->

    </div>
</div>
<!-- END article -->

<!--  Footer      -->
<div th:replace="admin/fragment/fragments::footer"></div>

<!--  add san pham -->
<!-- Modal -->
<div class="modal fade" id="soLuongSanPham" tabindex="-1" aria-labelledby="soLuongSanPhamLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="soLuongSanPhamLabel">Cập nhật</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <label for="soLuongThem" class="col-sm-2 col-form-label">Số lượng</label>
          <div class="col-sm-10">
            <input type="text" id="soLuongThem" class="form-control">
          </div>
        </form>
        <label id="errorMessage" style="color: red; display: none;">Giá trị không hợp lệ!</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" id="themSoLuong" class="btn btn-outline-danger" data-bs-dismiss="modal">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
<!--   add san pham end     -->

<!--  xoa san pham tu hoa don chi tiet -->
<div class="modal fade" id="xoaSanPham" tabindex="-1" aria-labelledby="xoaSanPhamLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="xoaSanPhamLabel">Bạn có muốn xóa sản phẩm này khỏi đơn hàng không?</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" id="xoaSanPhamHDCT" class="btn btn-outline-danger" data-bs-dismiss="modal">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
<!--  xoa san pham tu hoa don chi tiet end -->\

<!--  cap nhat so luong san pham chi tiet -->
<!-- Modal -->
<div class="modal fade" id="suaSanPham" tabindex="-1" aria-labelledby="suaSanPhamLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="soLuongSanPhamCTLabel">Cập nhật</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <label for="soLuongThem" class="col-sm-2 col-form-label">Số lượng</label>
          <div class="col-sm-10">
            <input type="text" id="soLuongThemCapNhat" class="form-control">
          </div>
        </form>
        <label id="errorMessageSuaSoLuong" style="color: red; display: none;">Giá trị không hợp lệ!</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" id="capNhatSoLuong" class="btn btn-outline-danger" data-bs-dismiss="modal">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
<!--   add san pham end     -->

<!--  thanhToan hoa don-->
<div class="modal fade modal-lg" id="thanhToanHoaDon" tabindex="-1" aria-labelledby="thanhToanHoaDonLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="thanhToanHoaDonLabel">Thanh toán</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<!--      // view hoa don-->
      <div class="modal-body">

        <table class="table overflow-auto scrollbar scrollbar-dark" style="max-height: 500px;">
          <thead>
          <tr>
            <th>#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Vật liệu</th>
            <th scope="col">Màu sắc</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Thành tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cat,iterStat :${lstHDCT}">
            <td th:text="${__${iterStat.index + 1}__}">1</td>
            <td>[[${cat.chiTietSanPham.sanPham.tenSanPham}]]</td>
            <td th:text="${cat.chiTietSanPham.vatLieu.tenVatLieu}"></td>
            <td th:text="${cat.chiTietSanPham.mauSac.tenMauSac}"></td>
            <td>x[[${cat.soLuong}]]</td>
            <td th:text="${#numbers.formatDecimal(cat.giaBan, 0, 'COMMA', 0, 'POINT')} +
                         ' đ'">[[${cat.giaBan}]]đ</td>
            <td th:text="${#numbers.formatDecimal(cat.giaBan*cat.soLuong, 0, 'COMMA', 0, 'POINT')} +
                         ' đ'">[[${cat.giaBan*cat.soLuong}]]</td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6" style="padding-left: 10px;color:black" >Tổng tiền</div>
          <div class="col-md-6" style="text-align: center;color:red" th:text="${thanhTien == null ? 0 : #numbers.formatDecimal(thanhTien, 0, 'COMMA', 0, 'POINT')} + ' đ'"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" id="xacNhanThanhToan" class="btn btn-outline-danger" data-bs-dismiss="modal">Xác nhận</button>
        <form th:action="@{/admin/ban-hang/hoa-don/xuat-hoa-don}" th:method="GET" >
          <button type="submit" id="xuatHoaDon" class="btn btn-outline-danger" data-bs-dismiss="modal">Xuất hóa đơn</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="huyHoaDon" tabindex="-1" aria-labelledby="huyHoaDonLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="huyHoaDonLabel">Hủy</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" id="huyDonHangHienTai" class="btn btn-outline-danger" data-bs-dismiss="modal">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<script>
  // var today = new Date();
  // var dd = today.getDate();
  // var mm = today.getMonth()+1; // Tháng bắt đầu từ 0
  // var yyyy = today.getFullYear();
  // if(dd<10){
  //   dd='0'+dd;
  // }
  // if(mm<10){
  //   mm='0'+mm;
  // }
  // var todayFormatted = yyyy+'-'+mm+'-'+dd; // Chuỗi ngày tháng được định dạng theo định dạng của input type="date"
  // document.getElementById("ngayTao").value = todayFormatted; // Set giá trị mặc định cho input

  // disabled khi don hang null

  document.getElementById("timKiemSDT").addEventListener('click',function () {
    if (document.getElementById('sdt').value.trim() == '') {
      document.getElementById('sdt').disabled = false;
      document.getElementById('ten').disabled = false;
    } else {
      document.getElementById('sdt').disabled = true;
      document.getElementById('ten').disabled = true;
    }
  });

  if (document.getElementById('sdt').value.trim() == '') {
    document.getElementById('sdt').disabled = false;
    document.getElementById('ten').disabled = false;
  } else {
    document.getElementById('sdt').disabled = true;
    document.getElementById('ten').disabled = true;
  }

  var validateDonHang = () => {
    var isExist_MaDH = document.getElementById("maHoaDon").value;

    var btn_taoMoi = document.getElementById("tao-moi-don-hang");
    var btn_thanhToan = document.getElementById("thanhToan");
    var btn_huydon = document.getElementById("huyDon");
    var btn_search_by_phoneNumber = document.getElementById("timKiemSDT");
    // if not exist =>> disabled them, thanh toan, huy | enabled tao moi
    if (isExist_MaDH != ''){
      btn_taoMoi.disabled = true;
      btn_search_by_phoneNumber.disabled = true;

      btn_thanhToan.disabled = false;
      btn_huydon.disabled = false;
      // enabled
      var buttons_them_sam_pham = document.getElementsByClassName("them-san-pham");

      for (var i = 0; i < buttons_them_sam_pham.length; i++) {
        buttons_them_sam_pham[i].disabled = false;
      }
    } else {
      if (document.getElementById('sdt').value.trim() == '' ||
          document.getElementById('ten').value.trim() == '' ||
          sdtExist == document.getElementById('sdt').value.trim()
      ){
        btn_taoMoi.disabled = true;
      } else {
        btn_taoMoi.disabled = false;
      }
      btn_search_by_phoneNumber.disabled = false;
      btn_thanhToan.disabled = true;
      btn_huydon.disabled = true;

      // enabled
      var buttons_them_sam_pham = document.getElementsByClassName("them-san-pham");

      for (var i = 0; i < buttons_them_sam_pham.length; i++) {
        buttons_them_sam_pham[i].disabled = true;
      }
    }

  }
  validateDonHang();
  var inputField = document.getElementById('sdt');
  var submitButton = document.getElementById('tao-moi-don-hang');

  var sdtExist;
  var regexSDT = /^0[0-9]{9,10}$/;
  var regexTen = /^[\p{L}\s]{5,}$/u;

  inputField.addEventListener('input', function() {
    fetch(`/admin/ban-hang/khach-hang/api/` + inputField.value.trim())
      .then(response => response.text())
      .then(data => {
        // Kiểm tra kết quả từ server và xử lý tương ứng
        if (data === inputField.value.trim()) {
          sdtExist = data;
          submitButton.disabled = true;
        } else {
          if (document.getElementById('sdt').value.trim() == ''
              || document.getElementById('ten').value.trim() == ''
              || !document.getElementById('sdt').value.trim().match(regexSDT)
              || !document.getElementById('ten').value.trim().match(regexTen)
          ){
            if (document.getElementById('sdt').value.trim() == '' || !document.getElementById('sdt').value.trim().match(regexSDT)){
              $("#errorMessageSDT").show();
            } else {
              $("#errorMessageSDT").hide();
            }
            submitButton.disabled = true;
          } else {
            $("#errorMessageTen").hide();
            $("#errorMessageSDT").hide();
            submitButton.disabled = false;
          }
        }
      })
      .catch(error => {
        console.error('Lỗi:', error);
      });
  });

  document.getElementById('ten').addEventListener('input', function() {

      if (document.getElementById('sdt').value.trim() == ''
          || document.getElementById('ten').value.trim() == ''
          || !document.getElementById('sdt').value.trim().match(regexSDT)
          || !document.getElementById('ten').value.trim().match(regexTen)
      ){
        if (document.getElementById('ten').value.trim() == '' || !document.getElementById('ten').value.trim().match(regexTen)){
          $("#errorMessageTen").show();
        } else {
          $("#errorMessageTen").hide();
        }

        document.getElementById('tao-moi-don-hang').disabled = true;
      }else{
        if (sdtExist == document.getElementById('sdt').value.trim()){
          document.getElementById('tao-moi-don-hang').disabled = true;
        }
        $("#errorMessageTen").hide();
        $("#errorMessageSDT").hide();
        document.getElementById('tao-moi-don-hang').disabled = false;
      }

  });

  var maCTSP;
  var soLuongTon;

  $('.them-san-pham').click(function() {
    maCTSP = $(this).data('ma-ctsp');
    soLuongTon = $(this).data('so-luong-ton');
  });

  $(document).ready(function() {
    // Theo dõi sự thay đổi trong ô input
    $("#soLuongThem").on("input", function() {
      var soLuongThem = document.getElementById('soLuongThem').value;
      var parttern = /^[0-9]+$/;
      // Kiểm tra giá trị
      if (soLuongThem > soLuongTon || soLuongThem <= 0 || !parttern.test(soLuongThem)) {
        $("#themSoLuong").prop("disabled", true);
        // Hiển thị thông báo lỗi
        $("#errorMessage").show();
      } else {
        $("#themSoLuong").prop("disabled", false);
        // Ẩn thông báo lỗi
        $("#errorMessage").hide();
      }
    });
  });

  $('#themSoLuong').click(function() {
    var soLuongThem = document.getElementById('soLuongThem').value;
    $.ajax({
      url: "/admin/ban-hang/them/"+ maCTSP + "/" + soLuongThem,
      method: "POST",
      success: function(response) {
        $('#content').html(response);
      },
      error: function(xhr, status, error) {
        console.log("Lỗi: " + error);
      }
    });
    validateDonHang();
  });
  // erro
  $('#xacNhanThanhToan').click(function() {
    $.ajax({
      url: "/admin/ban-hang/hoa-don/thanh-toan",
      method: "POST",
      success: function(response) {
        $('#content').html(response);
      },
      error: function(xhr, status, error) {
        console.log("Lỗi: " + error);
      }
    });
    validateDonHang();
  });

  $('#xuatHoaDon').click(function() {
    setTimeout(function() {
      $.ajax({
        url: "/admin/ban-hang/hoa-don/thanh-toan",
        method: "POST",
        success: function(response) {
          $('#content').html(response);
        },
        error: function(xhr, status, error) {
          console.log("Lỗi: " + error);
        }
      });
      validateDonHang();
    }, 1000); // Chờ 1 giây (1000 milliseconds) trước khi gọi Ajax
  });

  $('#huyDonHangHienTai').click(function() {
    $.ajax({
      url: "/admin/ban-hang/hoa-don/huy",
      method: "POST",
      success: function(response) {
        $('#content').html(response);
      },
      error: function(xhr, status, error) {
        console.log("Lỗi: " + error);
      }
    });
    validateDonHang();
  });

  // chuc nang xoa san pham tu hoa don chi tiet
  var idHDCTXoa;
  $('.hoa-don-chi-tiet-xoa').click(function() {
    idHDCTXoa = $(this).data('id-hdct');
  });

  $('#xoaSanPhamHDCT').click(function() {
    $.ajax({
      url: "/admin/ban-hang/hoa-don-chi-tiet/"+ idHDCTXoa,
      method: "POST",
      success: function(response) {
        $('#content').html(response);
      },
      error: function(xhr, status, error) {
        console.log("Lỗi: " + error);
      }
    });
  });
  // chuc nang xoa san pham tu hoa don chi tiet end

  // chuc nang cap nhat san pham tu hoa don chi tiet
  // Lấy IDHDCT từ bảng
  var idHDCTSua;
  var soLuongMaxCoTheThem;
  $('.hoa-don-chi-tiet-sua').click(function() {
    idHDCTSua = $(this).data('id-hdct-sua');
    fetch(`/admin/ban-hang/seri/api/` + idHDCTSua)
        .then(response => response.json())
        .then(data => {
          // Kiểm tra kết quả từ server và xử lý tương ứng
          if (data != null) {
            soLuongMaxCoTheThem = parseInt(data);
          }
        })
        .catch(error => {
          console.error('Lỗi:', error);
        });
  });
  // validate input nếu > số lượng có thể mua thì disabled button thêm
  $(document).ready(function() {
    // Theo dõi sự thay đổi trong ô input
    $("#soLuongThemCapNhat").on("input", function() {
      var soLuongSua = document.getElementById('soLuongThemCapNhat').value;
      var parttern = /^[0-9]+$/;
      // Kiểm tra giá trị
      if (soLuongSua > soLuongMaxCoTheThem || soLuongSua <= 0 || !parttern.test(soLuongSua)) {
        $("#capNhatSoLuong").prop("disabled", true);
        // Hiển thị thông báo lỗi
        $("#errorMessageSuaSoLuong").show();
      } else {
        $("#capNhatSoLuong").prop("disabled", false);
        // Ẩn thông báo lỗi
        $("#errorMessageSuaSoLuong").hide();
      }
    });
  });

  $('#capNhatSoLuong').click(function() {
    var soLuongThemCapNhat = document.getElementById("soLuongThemCapNhat").value;

    $.ajax({
      url: "/admin/ban-hang/hoa-don-chi-tiet/sua/"+ idHDCTSua+"/so-luong/" + soLuongThemCapNhat,
      method: "POST",
      success: function(response) {
        $('#content').html(response);
      },
      error: function(xhr, status, error) {
        console.log("Lỗi: " + error);
      }
    });
  });
  // chuc nang cap nhat san pham tu hoa don chi tiet end
</script>
</body>
</html>