<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="admin/fragment/fragments:: page_head"></head>

    <body class="sb-nav-fixed">
    <div th:replace="admin/fragment/navigation:: navbar"></div>
    <div id="layoutSidenav">
        <div th:replace="admin/fragment/navigation:: menu"></div>


        <div id="layoutSidenav_content">
            <main>
                <div>
                    <h2>Quản lý Kích Cỡ</h2>
                    <a style="text-decoration: none" th:href="@{/admin/sizes/new}"><i style="color: green" class="fas fa-plus"></i></a>
                    &nbsp;|&nbsp;
                    <a style="text-decoration: none" th:href="@{/admin/sizes/export/excel}"><i class="far fa-file-excel"></i></a>
                </div>

                <div th:if="${message != null}" class="alert alert-success text-center">
                    [[${message}]]
                </div>


                <div>
                    <form th:action="@{/admin/sizes/page/1}" class="form-inline m-3">
                        <div class="d-flex align-items-center">
                            <input type="hidden" name="sortField" th:value="${sortField}" />
                            <input type="hidden" name="sortDir" th:value="${sortDir}" />
                            <label class="sr-only">Tìm Kiếm</label>
                            <input style="width: 250px; margin-right: 10px" type="search" name="keyword" th:value="${keyword}" placeholder="nhập từ khóa tìm kiếm" class="form-control" required />
                            <input style="margin-right: 10px" type="submit" value="Search" class="btn btn-primary ml-2" />
                            <input type="button" value="Clear" class="btn btn-secondary ml-2" onclick="clearFilter()"/>
                        </div>
                    </form>

                </div>

                <div class="full-details">
                    <table class="table table-bordered table-striped table-hover table-responsive-xl">
                        <thead class="thead-dark">
                        <tr>
                            <th th:replace="admin/fragment/fragments::kichco_link('idKichCo', 'ID')"></th>
                            <th th:replace="admin/fragment/fragments::kichco_link('tenKichCo', 'Tên')"></th>
                            <th th:replace="admin/fragment/fragments::kichco_link('moTaKichCo', 'Mô Tả')"></th>
                            <th th:replace="admin/fragment/fragments::kichco_link('ngayTaoKichCo', 'Ngày tạo')"></th>
                            <th th:replace="admin/fragment/fragments::kichco_link('enabled', 'Enabled')"></th>
                            <Th>Action</Th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="kc :${listKichCo}">
                            <td>[[${kc.idKichCo}]]</td>
                            <td>[[${kc.tenKichCo}]]</td>
                            <td>[[${kc.moTaKichCo}]]</td>
                            <td>[[${kc.ngayTaoKichCo}]]</td>
                            <td>[[${kc.enabled}]]</td>

                            <td>
                                <a class="icon-green" style="text-decoration: none" th:href="@{'/admin/sizes/edit/' + ${kc.idKichCo}}"
                                   title="Thay đổi thông tin"><i style="color: blue" class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center m-1" th:if="${totalItem > 0}">
                    <span>Hiển thị Kích Cỡ # [[${startCount}]] to [[${endCount}]] of [[${totalItem}]] </span>
                </div>
                <div class="text-center m-1" th:unless="${totalItem > 0}">
                    <span>Không có Kích Cỡ trang này</span>
                </div>

                <div th:if="${totalPages > 1}">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li th:class="${currentPage > 1 ?'page-item' : 'page-item disabled'}">
                                <a th:replace="admin/fragment/fragments::pagesize_link(1, 'Trang Đầu')" ></a>
                            </li>
                            <li th:class="${currentPage > 1 ?'page-item' : 'page-item disabled'}">
                                <a th:replace="admin/fragment/fragments::pagesize_link(${currentPage - 1}, Trước)"></a>
                            </li>
                            <li th:class="${currentPage != i ? 'page-item': 'page-item active' }"
                                th:each="i : ${#numbers.sequence(1,totalPages)}">
                                <a th:replace="admin/fragment/fragments::pagesize_link(${i}, ${i})"></a>
                            </li>

                            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                <a th:replace="admin/fragment/fragments::pagesize_link(${currentPage + 1}, Sau)"></a>
                            </li>
                            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                <a th:replace="admin/fragment/fragments::pagesize_link(${totalPages}, 'Trang Cuối')"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </main>
            <div th:replace="admin/fragment/fragments::footer"></div>
        </div>
    </div>
    </body>
</html>
