
<!-- MAIN-CONTENT-SECTION START -->
<header class="main-menu-area" ng-controller="homeCtrl">
	<div class="container">
		<div class="row">
			<!-- SHOPPING-CART START -->
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right shopingcartarea">
				<div class="shopping-cart-out pull-right">
					<div class="shopping-cart">
						<a class="shop-link" href="#cart" title="View my shopping cart">
							<i class="fa fa-shopping-cart cart-icon"></i>
							<b>Giỏ hàng</b>
							<span class="ajax-cart-quantity">{{totalSp}}</span>
						</a>


						<div class="shipping-cart-overly" style="overflow: scroll">
							<div ng-if="cart.length == 0" class="text-center">
								<span>K có sản phẩm nào</span>
							</div>
							<div ng-if="cart.length > 0">
								<div class="shipping-item" ng-repeat="item in cart" ng-init="setTotals(item)">
                                        <span class="cross-icon" ng-click="removeSP(item)"><i
												class="fa fa-times-circle"></i></span>
									<div class="shipping-item-image" style="width: 30%">
										<a href="#/chitietsanpham/{{item.chiTietSanPham.sanPham.idSanPham}}"><img
												src="/assets/images/{{item.chiTietSanPham.sanPham.listAnhSanPham[0].link}}"
												alt="shopping image"/></a>
									</div>
									<div class="shipping-item-text" style="width: 60%; float: right">
                                            <span>{{item.soLuongSanPham}} <span class="pro-quan-x">x</span> <a href="#"
																											   class="pro-cat">{{item.chiTietSanPham.sanPham.tenSanPham}} </a></span>

										<span class="pro-quality"><a href="#sanpham">{{item.chiTietSanPham.kichCo.tenKichCo}},{{item.chiTietSanPham.mauSac.tenMauSac}}</a></span>
										<span class="pro-quality"><a href="#sanpham">{{item.chiTietSanPham.dayDeo.tenDayDeo}},{{item.chiTietSanPham.vatLieu.tenVatLieu}}</a></span>
										<p>{{item.giaBan | number}} đ</p>
									</div>
								</div>
								<div class="shipping-total-bill">
									<div class="cart-prices">
										<span class="shipping-cost">0.00 đ</span>
										<span>Vận chuyển (Tạm tính)</span>
									</div>
									<div class="total-shipping-prices">
										<span class="shipping-total">{{total | number}} đ</span>
										<span>Tổng</span>
									</div>
								</div>
								<div class="shipping-checkout-btn">
									<a style="cursor: pointer" ng-click="buycart()">Thanh toán  <i class="fa fa-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SHOPPING-CART END -->
			<!-- MAINMENU START -->
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 no-padding-right menuarea">
				<div class="mainmenu">
					<nav>
						<ul class="list-inline mega-menu">
							<li class="active"><a href="#index">Trang chủ</a> </li>
							<li> <a href="#sanpham">Sản Phẩm</a></li>
							<li> <a href="#chinhSach">Chính sách bảo hành và đổi trả</a></li>
							<li><a href="#contact">Liên hệ</a></li>
							<li><a href="#about">Về chúng tôi</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- MAINMENU END -->
		</div>
		<div class="row">
			<!-- MOBILE MENU START -->
			<div class="col-sm-12 mobile-menu-area">
				<div class="mobile-menu hidden-md hidden-lg" id="mob-menu">
					<span class="mobile-menu-title">MENU</span>
					<nav>
						<ul>
							<li><a href="#">Home</a>
								<ul>
									<li><a href="index.html">Home variation 1</a></li>
									<li><a href="index-2.html">Home variation 2</a></li>
								</ul>
							</li>
							<li><a href="shop-gird.html">Women</a>
								<ul>
									<li><a href="shop-gird.html">Tops</a>
										<ul>
											<li><a href="shop-gird.html">T-Shirts</a></li>
											<li><a href="shop-gird.html">Blouses</a></li>
										</ul>
									</li>
									<li><a href="shop-gird.html">Dresses</a>
										<ul>
											<li><a href="shop-gird.html">Casual Dresses</a></li>
											<li><a href="shop-gird.html">Summer Dresses</a></li>
											<li><a href="shop-gird.html">Evening Dresses</a></li>
										</ul>
									</li>

								</ul>
							</li>
							<li><a href="shop-gird.html">men</a>
								<ul>
									<li><a href="shop-gird.html">Tops</a>
										<ul>
											<li><a href="shop-gird.html">Sports</a></li>
											<li><a href="shop-gird.html">Day</a></li>
											<li><a href="shop-gird.html">Evening</a></li>
										</ul>
									</li>
									<li><a href="shop-gird.html">Blouses</a>
										<ul>
											<li><a href="shop-gird.html">Handbag</a></li>
											<li><a href="shop-gird.html">Headphone</a></li>
											<li><a href="shop-gird.html">Houseware</a></li>
										</ul>
									</li>
									<li><a href="shop-gird.html">Accessories</a>
										<ul>
											<li><a href="shop-gird.html">Houseware</a></li>
											<li><a href="shop-gird.html">Home</a></li>
											<li><a href="shop-gird.html">Health & Beauty</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="shop-gird.html">clothing</a></li>
							<li><a href="shop-gird.html">tops</a></li>
							<li><a href="shop-gird.html">T-shirts</a></li>
							<li><a href="#">Delivery</a></li>
							<li><a href="#about">About us</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- MOBILE MENU END -->
		</div>
	</div>
</header>

<section class="main-content-section" ng-controller="AddressCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- BSTORE-BREADCRUMB START -->
				<div class="bstore-breadcrumb">
					<a href="#index">Trang chủ</a>
					<span><i class="fa fa-caret-right	"></i></span>
					<span>Địa chỉ</span>
				</div>
				<!-- BSTORE-BREADCRUMB END -->

				<div class="account-info-text">
					Chào mừng , ở đây bạn có thể quản lý tất cả thông tin cá nhân và đơn hàng của bạn
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding: 0">

			<div class="account-info">
				<div class="single-account-info">
					<ul>
						<li style="height: 46px"><a href="#changePass"><i class="fa fa-building"></i><span style="font-size: 10px">Đổi mật khẩu</span>	</a></li>
						<li style="height: 46px"><a href="#history/all"><i class="fa fa-list-ol"></i><span style="font-size: 10px">Đơn hàng</span>	</a></li>
						<li style="height: 46px"><a href="#"><i class="fa fa-file-o"></i><span style="font-size: 10px">Thẻ của tôi</span>	</a></li>
						<li style="height: 46px"><a href="#my-address"><i class="fa fa-building"></i><span style="font-size: 10px">Địa chỉ</span>	</a></li>
						<li style="height: 46px"><a href="#my-info"><i class="fa fa-user"></i><span style="font-size: 10px">Thông tin</span>	</a></li>
						<li style="height: 46px"><a href="#wishlist"><i class="fa fa-heart"></i><span style="font-size: 10px">Yêu thích</span>	</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
			<h2 class="page-title" style="margin-bottom: 0">Địa chỉ của bạn </h2>
			<a type="button"  class="btn btn-success" data-toggle="modal" data-target="#myModal4"
			   style="position: absolute; right: 32px;top: 4px;color: white; cursor: pointer" ng-click="resetData()" >
			Thêm địa chỉ
			</a>
			<!-- Modal -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				 ng-controller="AddressCtrl" >
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="top: 100px">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLab">Cập nhập địa chỉ</h4>
						</div>
						<!--    modal body-->
						<div class="modal-body" style=" padding: 20px 45px;">

							<div class=" form-group primary-form-group p-info-group" style="display: flex">
								<div class="col-4" style="width: 40%">
									<label>Phường xã <sup>*</sup></label>
									<select id="inputP" class="form-select" name="phuongXa" ng-model="phuongXa"  style="width: 97%">
										<!--														<option selected> {{diachi.phuongXa}}</option>-->
										<option ng-repeat ="(key,value) in pxMap" ng-value="key">
											{{value}}
										</option>
									</select>
								</div>
								<div class="col-4" style="width: 40%">
									<label >Quận huyện <sup>*</sup></label>
									<select id="inptQH" class="form-select"  name="quanHuyen"   ng-model="quanHuyen"  style="width: 97%">
										<!--														<option > {{diachi.quanHuyen}}</option>-->
										<option ng-repeat ="(key,value) in qhMap" ng-value="key" >
											{{value}}
										</option>
									</select>
								</div>
								<div class="col-3" style="width: 30%">
									<label>Thành Phố <sup> *</sup></label>
									<select id="inpuTP" class="form-select" name="thanhPho" ng-model="thanhPho" style="width: 100%">
										<!--														<option > {{diachi.thanhPho}}</option>-->
										<option ng-repeat ="(key,value) in tpMap" ng-value="key">
											{{value}}
										</option>
									</select>
								</div>

							</div>
							<div class="form-group primary-form-group p-info-group">
								<label > Địa chỉ cụ thể  <sup> *</sup></label>
								<input type="text"
									   name="diaChi"
									   ng-model="diachi.diachiChiTiet"
									   required id="diahi" class="form-control">

							</div>
							<div class="form-group primary-form-group p-info-group">
								<label > Số điện thoại<sup> *</sup></label>
								<input type="text"
									   name="sdt"
									   ng-model="diachi.sdt"
									   required id="soDieThoai" class="form-control">

							</div>
							<div class="form-group primary-form-group p-info-group">
								<label > Ghi chú  <sup> *</sup></label>
								<input type="text"
									   name="ghiChu"
									   ng-model="diachi.ghichu"
									   required  class="form-control">

							</div>
							<span class="text-danger" ng-bind="error"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close
							</button>
							<button type="button" class="btn btn-primary" ng-click="postThemDiaChi()"
									style="background: red">Xác nhận
							</button>
						</div>
						<!-- modal body-->
					</div>
				</div>
			</div>
			<!--     modal-->
		</div>
		<div class=" col-lg-10 col-md-10 col-sm-10 col-xs-12 tab-content" >
			<div class="shipping-cart"  style=" height:550px; overflow-x:auto;">
						<br>
						<div class="shipping-item" ng-repeat="dc in diaChis" style="line-height: 22px; padding: 10px; position: relative;color: black; font-size: 13px">
							<div class="shipping-item-text"  style="width: 100%; float: right">
								 <div>{{dc.khachHang.tenKhachHang}}</div>
								<div>{{dc.soDienThoai}}</div>
								<div>{{dc.phuongXa}} , {{dc.quanHuyen}}, {{dc.thanhPho}}  </div>
								<div>{{dc.diaChi}}</div>
								<div>Ghi chú : {{dc.ghiChu}}</div>
							</div>
							<a data-toggle="modal" data-target="#myModal3"
							   style="position: absolute; right: 32px;top: 10px;color: #3ab19c; cursor: pointer"  ng-click="getdc(dc)" >
								Cập nhập
							</a>
							<!-- Modal -->
							<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								 ng-controller="AddressCtrl" >
								<div class="modal-dialog" role="document">
									<div class="modal-content" style="top: 100px">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
													aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel1">Cập nhập địa chỉ</h4>
										</div>
										<!--    modal body-->
										<div class="modal-body" style=" padding: 20px 45px;">

											<div class=" form-group primary-form-group p-info-group" style="display: flex">
												<div class="col-4" style="width: 40%">
													<label>Phường xã <sup>*</sup></label>
													<select id="inputPX" class="form-select" name="phuongXa" ng-model="phuongXa"  style="width: 97%">
<!--														<option selected> {{diachi.phuongXa}}</option>-->
														<option ng-repeat ="(key,value) in pxMap" ng-value="key">
															{{value}}
														</option>
													</select>
												</div>
												<div class="col-4" style="width: 40%">
													<label >Quận huyện <sup>*</sup></label>
													<select id="inputQH" class="form-select"  name="quanHuyen"   ng-model="quanHuyen"  style="width: 97%">
<!--														<option > {{diachi.quanHuyen}}</option>-->
														<option ng-repeat ="(key,value) in qhMap" ng-value="key" >
															{{value}}
														</option>
													</select>
												</div>
												<div class="col-3" style="width: 30%">
													<label>Thành Phố <sup> *</sup></label>
													<select id="inputTP" class="form-select" name="thanhPho" ng-model="thanhPho" style="width: 100%">
<!--														<option > {{diachi.thanhPho}}</option>-->
														<option ng-repeat ="(key,value) in tpMap" ng-value="key">
															{{value}}
														</option>
													</select>
												</div>

											</div>
											<div class="form-group primary-form-group p-info-group">
												<label > Địa chỉ cụ thể  <sup> *</sup></label>
												<input type="text"
													   name="diaChi"
													   ng-model="diachi.diachi"
													   required id="diaChi" class="form-control">

											</div>
											<div class="form-group primary-form-group p-info-group">
												<label > Số điện thoại<sup> *</sup></label>
												<input type="text"
													   name="sdt"
													   ng-model="diachi.sdt"
													   required id="soDienThoai" class="form-control">

											</div>
											<div class="form-group primary-form-group p-info-group">
												<label > Ghi chú  <sup> *</sup></label>
												<input type="text"
													   name="ghiChu"
													   ng-model="diachi.ghichu"
													   required  class="form-control">

											</div>
											<span class="text-danger" ng-bind="error"></span>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close
											</button>
											<button type="button" class="btn btn-primary" ng-click="suaDC(diachi)"
													style="background: red">Xác nhận
											</button>
										</div>
										<!-- modal body-->
									</div>
								</div>
							</div>
							<!--     modal-->
							<span ng-if="dc.trangThaiMacDinh == 0">
								<span  style="position: absolute; right:100px;top: 10px;color: red; cursor: pointer" ng-click="xoa(dc)">Xóa</span>
								<span  style="position: absolute; right: 32px;bottom: 10px;color: #3ab19c; cursor: pointer" ng-click="updateMacDinh(dc)">Đặt làm mặc định</span>
							</span>
							<span ng-if="dc.trangThaiMacDinh == 1">
								<span  style="position: absolute; right: 32px;bottom: 10px;color: red;">Mặc định</span>
							</span>
						</div>

				</div>
			</div>

		<!-- ACCOUNT-INFO-TEXT END -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- BACK TO HOME START -->
			<div class="home-link-menu">
				<ul>
					<li><a href="#index"><i class="fa fa-chevron-left"></i> Home</a></li>
				</ul>
			</div>
			<!-- BACK TO HOME END -->
		</div>


	</div>
	</div>
</section>
<!-- MAIN-CONTENT-SECTION END -->